<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="field form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :topic_id %>
        <%= form.collection_select :topic_id, Topic.order(:title), :id, :title, {include_blank: true}, class: "form-control" %>
      </div>

        <%= form.submit action ,class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
