<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_blog_path if logged_in?(:site_admin) %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 blog-main">
      <% @blogs.each do |blog| %>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= blog.title %></h2>
          <p class="blog-post-time"><%= time_ago_in_words(blog.updated_at) %></p>
          <p><%= blog.body %></p>
          <%= link_to 'Show', blog %>
          <%= link_to blog.status, toggle_status_blog_path(blog) if logged_in?(:site_admin) %>
          <%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin) %>
          <%= link_to 'Delete', blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
        </div>
        
      <% end %>
    </div>

  </div>

</div>