<%= image_tag portfolio_image(@project.main_image.url, "main"), width: '100%' %>
<h1><%= @project.title %></h1>
<em><%= @project.subtitle %></em>
<p><<%= @project.body %></p>

<% @project.technologies.each do |tech| %>
  <p><%= tech.name %></p>
<% end %>

<%= link_to 'Projects', projects_path %>
